*,
html {
    padding: 0;
    margin: 0;
    /* height: 100%;
     */
    box-sizing: border-box;
    background-color: #19172E;
    color: white
}

:root {
    --minute-sui-color: blue;
    --hour-sui-color: pink;
    --second-sui-color: white;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px
}

.clock-container h1 {
    display: flex;
    align-items: center;
}



.clock-skeleton {
    height: 380px;
    position: relative;
    width: 380px;
    border: 4px solid black;
    border-radius: 50%;
    /* background: #000; */
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transform-origin: center;
    transform: rotate(calc(30deg* var(--i))) translateY(-170px) rotate(calc(-30deg*var(--i)))
}

.center-point {
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    transform-origin: bottom;
    transform: translate(-50%, 50%);
    background-color: #fff;
    z-index: 100;
}

.minute-hand,
.second-hand,
.hour-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(50%) rotate(0deg);
    border-radius: 10px;
}

.hour-hand {
    height: 90px;
    width: 6px;
    background-color: var(--hour-sui-color);
    z-index: 60;
}

.minute-hand {
    height: 120px;
    width: 4px;
    background-color: var(--minute-sui-color);
    z-index: 80;
}

.second-hand {
    height: 160px;
    width: 2px;
    background-color: var(--second-sui-color);
    z-index: 90;
}