* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #19172E;
    color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body div {
    background-color: #252339;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
    /* flex-direction: column; */
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header-container div {
    display: flex;
    gap: 5px;
    height: 20%;
    padding: 10px;
    justify-content: space-evenly;

}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-container h1 {
    text-align: center;
}

button {
    background-color: #fff;
    color: black;
    border-radius: 15px;
    height: 30px;
    padding: 3px;
}

table {
    background-color: #252339;

}

.week-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 100%;
}

.week-container tr {
    display: flex;
    /* justify-content: center; */
    gap: 6px;
    padding: 1px;
    margin-block: 5px;
}

.week-container thead th {
    background-color: #fff;
    color: black;
    height: 30px;
    width: 45px;
    text-align: center;
}

.day-cell {
    background-color: #ffffff5f;
    color: black;
    height: 30px;
    width: 45px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-cell:hover {
    background-color: #ffffff;
    cursor: pointer;
}


.table-body {
    border-collapse: collapse;
}

.blank-date {
    background-color: rgba(255, 255, 255, 0.1);
}

.today-btn {
    background-color: blue;
    color: white;
}

.today-cell {
    background-color: #fff;
}