.column {
    min-height: 20rem;
    color: white;
    background-color: #000;
    width: 33%;
    text-align: center;
    max-width: 30rem;
    margin: 0 0.5px;
    border-radius: 4px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}